<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper" class="active">
        <!-- Sidebar -->
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand menu-element"><a id="menu-toggle" href="#">Menu</a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li class="menu-element"><a class="menu-text"><span class="sub_icon glyphicon glyphicon-home"></span> Home</a></li>
                <li class="menu-element"><a class="menu-text"><span class="sub_icon glyphicon glyphicon-user"></span> People</a></li>
                <li class="menu-element"><a class="menu-text"><span class="sub_icon glyphicon glyphicon-calendar"></span> Events</a></li>
                <li class="menu-element"><a class="menu-text"><span class="sub_icon glyphicon glyphicon-paperclip"></span> Recipes</a></li>
                <li class="menu-element"><a class="menu-text"><span class="sub_icon glyphicon glyphicon-link"></span> Vacations</a></li>
                <li class="menu-element"><a class="menu-text"><span class="sub_icon glyphicon glyphicon-gift"></span> Wish Lists</a></li>
                <li class="menu-element"><a class="menu-text"><span class="sub_icon glyphicon glyphicon-picture"></span> Images</a></li>
                <li class="menu-element"><a class="menu-text"><span class="sub_icon glyphicon glyphicon-heart"></span> Sex</a></li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper" class="content-wrap">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="container body-content">
                @RenderBody()
                @RenderSection("SPAViews", required: false)
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>
        </div>

    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
